  body{
  background-color: #EEEEEE;
  font-family: Arial;
}

.gs{
  color: #2E3436;
  background-color: #F1C40F;
  font-size: 14px;
  font-weight: 900;
  padding-left: 14px;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-right: 14px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  border-radius: 2px;
  text-align: center;
}

.lover{
  background-color: #DDDDDD;
}

#gs1{
  text-align: center;
  margin-bottom: 120px;
}

#header1{
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

#place{
  text-align: center;
  margin-bottom: 16px;
}

.text{
  font-size: 14px;
  padding-left: 28%;
  margin: 0;
}

.header{
  padding-left: 28%;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

#txt{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 43px;
}
.Sel{
  color: #2E3436;
  background-color: #F1C40F;
  font-size: 14px;
  font-weight: 500;
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 14px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  border-radius: 2px;
  text-align: center;
}

#trombone {
  background-color: #DDDDDD;
  width: 300px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
}

#cash{
  font-weight: 900;
  font-size: 23px;
}

#table{
  border: 1px solid #000000;
  text-align: center;
  width: 300px;
  height: 330px;
  margin: 0 20px 0 0;
}

.divka{
  display: flex;
  justify-content: center;
}

#lover{
  background-color: #DDDDDD;
  padding: 22px;
  width: 950px;
  margin-top: 40px;
  text-align: right;
  margin-left: 173px;
}

.ptc{
  text-decoration: none;
  color: black;
  padding: 6px;
}

#default{
  color: #444444;
  margin-top: 8px;
}
